body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #e94b35;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba (0, 0, 0, 0.2), 0 7px 20px 0 rgba (0, 0, 0, 0.2);
}
.closeBtn {
  font-size: 30px;
  float: right;
  cursor: pointer;
}

.modal-header h2 {
  margin: 0;
}
.modal-header {
  background-color: #d64531;
  padding: 20px;
  color: white;
  text-align: left;
}
.modal-body {
  padding: 30px 20px;
  text-align: center;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 255px;
}
